<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <div>
        <h1>CART</h1>
    </div>
</div>

<div class="container">
    <div class="cart">
<!--        <img class="col-sm-4 ml-auto"  style="width: 80px" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/cart.png'" alt="" />-->


        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </div>
        </div>

            <div id="products" th:each="prod,iterStat : ${products}">

            <div class="table table-hover">
                <div class="row" >
                    <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="col">
                            <div class="h-25 d-inline-block" style="width: 80%;">
                                <h4 class="card-title" th:text="${prod.name}"><small><small>Product name</small></small></h4>
                            </div>
                            <div class="col">
                                <div class="card-text">
                                    <p class="lead" th:text="${prod.getPrice()}"><small>100 USD</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-25 d-inline-block" style="width: 5%;">
                                <form class="form-inline">
                                    <input type="text" class="form-control" placeholder="1">
                                </form>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-25 d-inline-block col-md-4 ml-right" style="width: 10%;">
                                <p><strong>605</strong></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-25 d-inline-block" style="width: 5%;">
                                <p>USD</p>
                            </div>
                        </div>
                </div>
            </div>

            </div>
            <div class="table">
                <div class="row">
                    <div class="col-md-3 ml-md-auto"><h2><strong>In total:</strong></h2></div>
                    <div class="col-auto"><h2><strong>1432</strong></h2></div>
                    <div class="col-auto"><h2><strong>USD</strong></h2></div>
                </div>
            </div>


</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>