<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
<!--    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2">-->
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="headerLine"; id="myHeader">
    <h1 id="headText">Codecool Shop</h1>
</div>

<div class="container">
    <h2 id="subTitle">Payment</h2>
    <br>
    <div class="card">
        <h3>Choose payment tool</h3>
        <br>
        <h5 th:text="'In total: ' + ${subtotal} + ' USD'"></h5> <br> <br>
        <form action="/payment" method="post">
            <p>You are going to pay by</p>
            <input type="radio" id="creditCard" name="paymentMethod" th:value="creditCard">
            <label for="creditCard">Credit Card</label><br>
            <input type="radio" id="payPal" name="paymentMethod" th:value="payPal">
            <label for="payPal">PayPal</label><br>
            <input type="submit" value="Ok">
        </form>
        <br> <br>

        <form method="post" th:if="${paymentMethod == 'creditCard'}">
            <label for="cardNumber">Card number:</label>
            <input type="text" id="cardNumber" name="cardNumber" required><br><br>

            <label for="cardHolder">Card holder:</label>
            <input type="text" id="cardHolder" name="cardHolder" required><br><br>

            <label for="expiryDate">Expiry date:</label>
            <input type="month" id="expiryDate" name="expiryDate" required><br><br>

            <label for="cardCode">Card code:</label>
            <input type="text" id="cardCode" name="cardCode" required><br><br>

            <input type="hidden" name="method" value="creditCard">
            <input type="submit" value="Submit">
        </form>

        <form method="post" th:if="${paymentMethod == 'payPal'}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required><br><br>

            <input type="hidden" name="method" value="payPal">
            <input type="submit" value="Submit">
        </form>



    </div>


    <div th:replace="footer.html :: copy"></div>

</div>
<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
</body>
</html>